<!DOCTYPE html>
{%extends 'base.html'%}
{%block content%}
    <!-- content starts -->
        <div class="carousel-caption jumbotron">
           <h1>Sun-Top</h1>
           <h2>分享是阳光，温暖你我的世界；分享是雨露，滋润干涸的心田；分享是春风，拂去灵魂的尘埃。</h2>
           <form method="POST" action="/" enctype='multipart/form-data'>
             {{ ff.filename }}
	     <input type="hidden" maxlength="30" value="{{ user.id }}" name="userid">
             <button class="btn btn-large btn-primary" type="submit">分享一下</button>
           </form>
        </div>
{%endblock%}
