<!DOCTYPE html>
{%extends 'base.html'%}
{%block content%}
    <!-- content starts -->
        <div class="carousel-caption jumbotron">
           <h1>笑一笑</h1>
           <h2>現在每人可獲得1 terabyte 免費上載容量。</h2>
           <form method="POST" action="/" enctype='multipart/form-data'>
             {{ ff.filename }}
	     <input type="hidden" maxlength="30" value="{{ user.id }}" name="userid">
             <button class="btn btn-large btn-primary" type="submit">分享一下</button>
           </form>
        </div>
{%endblock%}
